body{
    margin: 0;
    font-family: Georgia, Times New Roman, serif;
    font-size: 20px;
    line-height: 30px;
}

header{
    background-color: teal;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    }

h1, h2{font-family: 'Kaushan Script', cursive;
    }

header h1 {
    color: white;
    font-size: 50px;
    
    }

header img{
    border-radius: 150px;
    width: 300px;
    border: 10px solid black;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

main img{
    max-width: 100%;
}

h2{
    font-size: 30px;
    color: teal;
    margin: 40px 0 10px;
}

footer{
    background-color: teal;
    text-align: center;
    padding: 50px; 
}

footer p{
    margin:0
}

p.caption{
    color: lightslategray;
    font-style: italic;
    margin-top: 0;
    font-size: 15px;
}